* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
}

#nav {
  height: 10vh;
  width: 100%;
  margin-top: 2vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
}
#nav h2 {
  height: 100%;
  width: 100%;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center; /* Added this line */
  border-right: 2px solid black;
  text-align: center;
  font-weight: 600;
  /* background-color: #dea8a8; */
}

#nav h1 {
  font-weight: 200;
  font-size: 1.8vw;
  width: 30%;
  font-family: Monument;
}

#nav h2:last-child {
  border-right: none;
  width: 50%;
}

#nav h3{
    display: none;
  }


#center {
  height: 95vh;
  width: 100%;
  /* background-color: chocolate; */
  padding: 3vw;
}

#center #content {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: blueviolet; */
  padding: 3vw;
  color: #f8f8f8;
}
#over1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#over1 h1 {
  font-family: Monument;
  font-weight: 200;
  font-size: 3vw;
  text-shadow: black 0px 0px 5px;
}

#overlay #over1 h2 {
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
  border: 3px solid #ffffff6a;
  box-shadow: 3px 3px 0 0 white;
  text-align: center;
  font-size: 1.5vw;
}
#over2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f8f8f8;
  margin-top: 3vh;
}
#over2 img {
  height: 4vw;
  width: 10vh;
}
#over2 h1{
    font-size: 2vw;
}

#scroll {
  /* background-color: red; */
  height: 30vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1vw;
  padding-left: 1vw;
}
#scroll img {
  /* display: none; */
  height: 80%;
  min-width: 10%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#navofleters{
    height: 8vh;
    width: 100%;
    /* background-color: yellow; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#navofleters{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}
#navofleters h1{
    font-size: 2vw;
    height: 5vh;
    width: 5vh;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

#navofleters a{
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
}

#feature{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 2vh;

}

#feature #aside1{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    padding: 3vw;

    border-right: 2px solid black;
    position: relative;
}
#feature #aside1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    left: 100%;
    top: 0;

}
#feature #aside1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top:100% ;

}


#feature #aside1 img{
    height: 100%;
    width: 100%;
}

#feature #aside2{
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
    padding: 3vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

#feature #aside2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#aside2 #aside2content{
    height: 100%;
    width: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2vw;
   /* background-color: black; */
   color: black;
   overflow: hidden;
}

#aside2 #aside2content span{
    font-size: 1vw;
    font-weight: 600;
    height: 100%;
    width: 30%;
    /* border-radius: 50%; */
    border-left: 1px solid black;
    padding: 1vw;
    white-space: wrap;
    
}

#shots{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 4vw;
}

#shots h1{
    height: 8vh;
    font-size: 3vw;
    background: url(https://plus.unsplash.com/premium_photo-1681052807708-4263cb80b95c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position-y: center;
    font-family: Monument;
    font-weight: 400;
    display: inline-block;
}

#shots #shots-containers #aside1{
    height: calc(100vh - calc(8vh-4vw));
    width: 50%;
    /* background-color: red; */
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#shots #shots-containers #aside2{
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#shots-containers{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 2vh;
}

#shots-containers #aside1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#shots-containers #aside1 img{
    height: 12vh;
    width: 10vw;
    object-fit: cover;
}
#shots-containers #aside1 span{
    font-size: 1.5vw;
    font-weight: 600;
}

#shots-containers #aside2 img{
    height: 95%;
    width: 90%;
    object-fit:cover;
    object-position: middle;
}

#videofeature{
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    margin-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 6.2vw;
    padding-top: 7vh;
    padding-bottom: 2vh;
    position: relative;
}

#videofeature video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#videofeature #videocooler{
    height: 88%;
    width: 87%;
    position: absolute;
    top:52.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border: .5vh solid white;
    border-radius: 100px;
}

#updateSection{
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
    margin-top: 5vh;

}

#updateSection > h1{
    height: 10vh;
    width: 20vw;
    border-bottom: 1px solid black;
}

#update-con{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    margin-top: 5vh;
    padding: 5vh;
    align-items: center;
}

#updateSection #update-con > div{
    height: 30%;
    width: 70%;
    display: flex;
    /* background-color: black; */
    font-size: 0.8em;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#updateSection #update-con div div{
    height: 100%;
    width: 30%;
    display: flex;
    border-right: 2px solid black;
}

#profile img{
    height: 75%;
    width: 25%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#category{
    font-size: 0.6em;
}

#names{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    /* background-color: rgb(0, 0, 255); */
    /* justify-content: space-evenly */
}

#names h1{
    font-size: 1em;
}

#names h2{
    font-size: 0.5em;
    
}


#footer{
    height: 40vh;
    width: 100%;
    /* background-color: burlywood; */
    font-size: 1vw;
    display: flex;
    flex-direction: row;
}

#footer1{
    height: 80%;
    width: 40%;
    /* background-color: black; */
    border: 2px solid black;
    border-left: none;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    padding: 4vh;
}

#footer2{
    height: 80%;
    width: 20%;
    /* background-color: #f8f8f8; */
    border: 2px solid black;
    border-left: none;
    font-size: .8em;
    padding: 3vw;
    font-style: italic;
    text-align: center;
}
#footer3{
    height: 80%;
    width: 40%;
    /* background-color: green; */
    border: 2px solid black;
    border-left: none;
    border-right: none;
}

#footer3part1{
    height: 35%;
    width: 100%;
    border-bottom: 2px solid black;
}

#footer #footer1 h1:first-of-type {
    font-family: Monument;
    font-weight: 500;
}

#footer #footer1 h1:last-of-type {
    font-weight: 600;
    font-size: 1.4em;
}

#footer3part1{
    padding: 2vh;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

#footer3part2{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#footer3part2 img{
    height: 30%;
    width: 10%;
    display: flex;
    align-self: center;
}

#footer3part2 img:hover{
    cursor: pointer;
    color: #198719d1;
}